#container {
    width: 95%;
    min-height: 70vh;
    border: 0.25px solid #d3d3d3;
    margin: auto;
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
}
#container:hover {
    box-shadow: 0px 7.5px 10px 5px rgba(100, 100, 105, 0.2);
}
#search-bar {
    margin: 1% auto 0%;
    width: 55%;
    border: 0.25px solid #c3c3c3;
    padding: 1% 20%;
}
#search-bar:hover {
    box-shadow: 0px 4px 8px 4px rgba(100, 100, 105, 0.2);
}
#query {
    padding: 1% 2%;
    width: 60%;
    font-size: 32px;
    border: none;
    margin: 0% 3%;
    border-bottom: 1px solid black;
}
#query:focus {
    outline: transparent;
    border-bottom: 1px solid teal;
}
#search {
    font-size: 32px;
    padding: 0.5% 2%;
    border-color: #1e1ebe;
    background-color: white;
}
#search:hover {
    cursor: pointer;
    box-shadow: 0px 1.5px 5px 3px rgba(100, 100, 205, 0.2);
}
#suggestions {
    position: absolute;
    width: 34.6%;
    top: 11.57%;
    left: 24.5%;
    border: solid #c3c3c3 0.2px;
    background-color: white;
    display: none;
}
#suggestions:hover {
    box-shadow: 0px 1.5px 5px 3px rgba(100, 100, 205, 0.2);
}
#suggestions > div:focus {
    background-color: #f3f3f3;
}
#suggestions > div {
    padding: 2% 5%;
}
#suggestions > div:hover {
    cursor: pointer;
    box-shadow: 0px 1.5px 5px 3px rgba(100, 100, 205, 0.2);
}
#movie-container {
    width: 28%;
    display: flex;
    gap: 0.5%;
    flex-direction: column;
    border-radius: 10px;
    padding: 1%;
    margin: 1% auto;
    border: 0.25px solid #c3c3c3;
}
#movie-container:hover {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
#movie-container > img {
    height: 75%;
    max-height: 425px;
}